
<div class="m-2">
    <h1 class="font-bold text-blue-600 text-xl">Minha página em Angular</h1>
  
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Exemplos iniciais">
            <minha-pagina [valorX]="10"></minha-pagina>
        </mat-tab>
        <mat-tab label="Listas">
            <app-list [listNumber]="myList" (resultado)="newEvent($event)"></app-list>
            Soma: {{soma}}
        </mat-tab>
        <mat-tab label="Observador">
            <button mat-flat-button (click)="incrementarContador()">Incrementar contador</button>
            <app-observer1></app-observer1>
            <app-observer2></app-observer2>
        </mat-tab>
        <mat-tab label="Conexão com APIs">
            <app-user-list></app-user-list>
        </mat-tab>
    </mat-tab-group>

    <button mat-raised-button (click)="voltar()">Voltar para início</button>
    
</div>